<% layout("/layouts/boilerplate") %>

    <div class="col-6 offset-3 ">
      <br>
      <h3>Listing Details:</h3>
      
      <div class="card">
  <img src="<%= listing.image %>" class="card-img-top mb-3" alt="Listing_image">
  <div class="card-body mb-3">
    <h5 class="card-title"> <%= listing.title %></h5>
    <p class="card-text"><%= listing.description %></p>
  </div>
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item"><b>Price: </b>&#8377 <%= listing.price.toLocaleString('en-IN') %></li>
    <li class="list-group-item"><b>Location: </b><%= listing.location %></li>
    <li class="list-group-item"><b>Country: </b><%= listing.country %></li>
  </ul>
  <div class="card-body row gap-3">
    <a href="/listings/<%= listing._id %>/edit" class="card-link col-1 btn">Edit</a>
     <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="btn col-4">
        <button class="btn">Delete this listing</button>
    </form>
    <!-- <a href="" class="card-link">Another link</a> -->
  </div>
</div>


    <!-- <div class="card">
  <img src="<%= listing.image %>" class="card-img-top" alt="Listing_image">
  <div class="card-body">
    <p class="card-text">
     <b> <%= listing.title %></b> <br>
      <%= listing.description %> <br>
       &#8377 <%= listing.price.toLocaleString('en-IN') %> <br>
       <%= listing.country %> <br>
       <%= listing.location %>
    </p>
  </div>
</div>
    </div> -->
    <!-- <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li> &#8377 <%= listing.price.toLocaleString('en-IN') %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul> -->
    
    <!-- <button><a href="/listings/<%= listing._id %>/edit">Edit</a></button>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button>Delete this listing</button>
    </form> -->

